// Font
$font: -apple-system, Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', 'メイリオ', Meiryo, 'Lucida Grande', sans-serif !default;

// Color
$font-color: #333;
$bg-color: #fff;
$main-color: #fff;
$sub-color: #fff;
$accent-color: #fff;