:root {
  /* Font */
  --font: -apple-system, Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', 'メイリオ', Meiryo, 'Lucida Grande', sans-serif;
  
  /* Color */
  --fontColor: #333;
  --bgColor: #fff;
  --mainColor: #fff;
  --subColor: #fff;
  --accentColor: #fff;
}
